.App {
	text-align: center;

	button {
		font-weight: bold;
	}
	.input{
		font-size: 2em;
		width:5em

	}
	.innerBox{
		width:100px;
		height:100px;
		background-color: aquamarine;
		margin:2px
	}
.displayBlock{
	display: inline-block;
}
	.outerBox {
		// display: grid;
		// width:400px;
		// grid-template-columns: repeat(3, 1fr);
		// gap: 10px;
		background-color: rgb(79, 80, 80);
	}
	.container{
		width:80%;
		margin:0 auto
	}
}
